body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #f57425 0%,  #ffffff 30%,  #ffffff 70%,#21bfbb 100%);
  }

.square {
    height: 50px;
    width: 50px;
    background-color: none;
    display: inline-block;
}

.head {
    position: fixed, absolute;
    width: 100%;
    text-align: center;
    top: 0;
    font-family: 'Lato', sans-serif;
    font-size: 102px;
    color:#f57425;
}

.btn_div {
    width: max-content;
    margin: auto;
    height: 35px;
    align-content: center;
}

.row{
    background-color: none;
    height: 50px;
}

.button {
    border-color:white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: center;
}

.playground {
    border-style: solid;
    border-color: black;
    width: max-content;
    margin: auto;
}

#info {
    border-color: black;
    height: 50px;
    width: 500px;
    text-align: center;
    background-color: #21bfbb;
    margin: auto;
}

#change {
    border-color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #21bfbb;
}